{
  "version": "2017-02-28",
  "operation": "PutItem",
  "key": {
    "id": $util.dynamodb.toDynamoDBJson($util.autoId())
  },
  "attributeValues": {
    "userId": $util.dynamodb.toDynamoDBJson($ctx.identity.sub),
    "courseId": $util.dynamodb.toDynamoDBJson($ctx.args.courseId),
    "progress": $util.dynamodb.toDynamoDBJson(0),
    "completedLessons": $util.dynamodb.toDynamoDBJson([]),
    "enrolledAt": $util.dynamodb.toDynamoDBJson($util.time.nowISO8601())
  }
}